* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

}

.logosidebar {
  width: 100px;
  height: auto;
} 

.sidebar_input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.sidebar_input:focus {
  border: 1px solid white;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100vh;
}

.sidebar {
  background-color: rgb(255, 103, 103);
  color: white;
  width: 20%;
  height: 100vh;
  padding: 10px;
}

.sidebar h2 {
  padding: 20px;
  text-align: center;
}

.sidebar ul {
  padding: 20px;
}
.text_white {
  color: white;

}

.menu_btn {
  padding: 10px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  transition: 0.1s ease;
  width: 100%;

}

.menu_btn:hover .text_white {
  color: rgb(41, 41, 41);
}

.menu_btn:hover {
  background-color: white;
  color: rgb(41, 41, 41);
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu > ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}


.primary_btn {
  padding: 10px 20px;
  background-color: rgb(255, 103, 103);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease;
  min-width: 150px;
  margin: 0 5px;
}

.primary_btn:hover {
  background-color: white;
  color: rgb(255, 103, 103);
  border-color: rgb(255, 103, 103);
}
.secondary_btn {
  padding: 10px 20px;
  background-color: white;
  color: rgb(255, 103, 103);
  border: 1px solid rgb(255, 103, 103);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease;
  min-width: 150px;
}

.main {
  width: 100%;
  padding: 20px;
  height: 100vh;
  overflow: auto;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 1rem;
}

.card{
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.calendar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.calendar {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.calendar_day {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 20px;
}
.calendar_day:hover {
  background-color: rgb(255, 103, 103);
  color: white;
  cursor: pointer;
}

.input_box {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}